%section
  .col-sm-3
    %a{href: './privatpolicy'}
      Privacy Policy
    %br
    %a{href: "#sitetopic"}
      = t(:_topic)
  .powered
    %p
      Rails #{Rails.version} | Env #{Rails.env}
  .copyright
    %p
      \&copy; #{Time.now.year}
      %span.pink 
        Mir Marbi
      All Rights Reserved
